#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.users-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  padding: 0;
} 